useDynLib(SingleBench)
importFrom(Rcpp, evalCpp)

importFrom(magrittr,"%>%")
importFrom(foreach,"%dopar%")
importFrom(grid, gpar)
importFrom(grid, grobTree)
importFrom(grid, textGrob)
importFrom(grid, rectGrob)
importFrom(grid, viewport)
importFrom(grid, unit)
importFrom(ggplot2, ggplot)
importFrom(ggplot2, aes)
importFrom(ggplot2, geom_bar)
importFrom(ggplot2, coord_flip)
importFrom(ggplot2, scale_fill_manual)
importFrom(ggplot2, scale_fill_gradient)
importFrom(ggplot2, geom_text)
importFrom(ggplot2, geom_point)
importFrom(ggplot2, geom_line)
importFrom(ggplot2, geom_tile)
importFrom(ggplot2, geom_errorbar)
importFrom(ggplot2, labs)
importFrom(ggplot2, xlab)
importFrom(ggplot2, ylab)
importFrom(ggplot2, guides)
importFrom(ggplot2, guide_legend)
importFrom(ggplot2, scale_x_discrete)
importFrom(ggplot2, ggtitle)
importFrom(ggplot2, theme)
importFrom(ggplot2, theme_minimal)
importFrom(ggplot2, theme_dark)
importFrom(ggplot2, theme_grey)
importFrom(ggplot2, facet_wrap)

export("WrapTool")
export("Fix")
export("Module")
export("Subpipeline")
export("CloneFrom")
export("LoadWrappers")
export("Benchmark")
export("Evaluate")
export("AddLayout")
export("PlotCoRanking")
export("PlotJaccardHeatmap")
export("PlotLabelsOverlay")
export("PlotClustersOverlay")
export("PlotPopulationHeatmap")
export("PlotClusterHeatmap")
export("PlotCompositionMap")
export("PlotNParameterMap_Clustering")
export("GetExpressionMatrix")
export("GetAnnotation")
export("GetSubpipelineName")
export("GetProjection")
export("GetLayout")
export("GetkNNMatrix")
export("GetDistanceMatrix")
export("GetBootstrapIndices")
export("GetCoRanking")
export("GetPenaltyScoringMatrix")
export("GetClusteringInput")
export("GetClustering")
export("GetClusteringScoringTable")
export("GetNParameterIterationName_Projection")
export("GetNParameterIterationName_Clustering")
export("ShowReadout_Projection")
export("ShowReadout_Clustering")
export("GetNParameterIterationName")
export("GetNParameterIterationsCount")
export("GetNParameterValues")
export("GetProjectionScores")
export("GetClusteringScores")
export("GetScores")
export("ComputekNNMatrix")
export("ExtendGates")
export("ScoreAnnotation")
export("kNNGTweak")
export("GetRMSDPerCluster")
export("GetRMSDPerPopulation")
export("GetLabelClusterMatching")
export("GetPopulationSizes")
export("GetClusterSizes")
export("GetMatchedClusterSizes")
export("PlotRMSDToSize")

export("Jacc")

S3method(Evaluate, Benchmark)
S3method(print, Benchmark)
S3method(print, WrapperWithParameters)
S3method(print, Module)
S3method(print, ModuleChain)
S3method(print, Subpipeline)
S3method(AddLayout, Benchmark)

importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "plot.new")
importFrom("stats", "median", "na.omit", "rnorm", "sd")
importFrom("utils", "tail")
